<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NewCustomer</title>
</head>
<body>
	<hr>
	<main>
		<h3>新規登録</h3>
		<hr>
		<h3>お客様情報を入力してください</h3>
		<form action="/addacount" method="post">
			<table border="1">
				<tr>
					<th>お名前/Name</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
			
				<tr>
					<th>パスワード/Password</th>
					<td>
						<input type="text" name="password">
					</td>
				</tr>
			</table>
			<button>確認画面へ</button>
		</form>
	</main>
	<hr>
</body>
</html>